h2 {
    color: #1d3b72;
    background-color: rgb(225, 241, 236);
}

button {
    color: rgb(183, 197, 58);
    background-color: rgb(99, 110, 110);
}

p {
    color: olive;
    background: rgb(202, 150, 202);
}

body {
    background-color: rgb(232, 215, 236);
}



